{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <div class="row justify-content-between">
      <article class="col-5">
        <h2>{{ drum.manufacturer }}</h2>
        <h4>{{ drum.model }}</h3>
        <h4>{{ drum.finish }}</h3>
        <h5>{{ drum.pieces }} pc. for</h5>
        <h3>${{ drum.priceUSD }} USD</h3>
        {% if drum.owner == userId %}
          <hr>
          <div class="btn-group">
            <a href="/drums/edit.{{drum.id}}" class="btn btn-primary me-3">Edit {{ drum.manufacturer }}</a>
            <form action="/drums/{{drum.id}}?_method=DELETE" method="POST">
              <input
                type="submit"
                class="btn btn-danger"
                value="Delete {{drum.manufacturer}}">
            </form>
          </div>
        {% endif %}
      </article>

    </div>
    <hr>
    <h3>Comments</h3>
    <hr>
    {% if loggedIn %}
      <div class="col-md-6">
        <form action="/comments.{{drum.id}}" method="POST">
          <fieldset>
            <legend>Add Comment</legend>
            <label class="form-label">comment</label>
            <input
              type="text"
              name="note"
              class="form-control mb-1">
          </fieldset>
          <input
            type="submit"
            class="btn btn-success"
            value="Add Comment">
        </form>
      </div>
    {% else %}
      <div class="col-md-6">
        <small>Log in to leave a comment.</small>
      </div>
    {% endif %}
    <hr>
    {% if comments.length > 0 %}
      <div class="container-sm justify-content-center">
        {% for comm in drum.comments %}
          {% render '../comment.liquid', comm: comm, userId: userId, drum: drum %}
        {% endfor %}
      </div>
    {% else %}
      <small>No comments yet.</small>
    {% endif %}
  </div>
{% endblock %}